
* {
  margin: 0;
  font-family: "open sans", sans-serif;
}

.wrapper {
  display: grid;
  height: 100vh;
  border: solid;
  border-width: 10px;
  border-color: grey;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(6, 16.66666%);
  /*position: relative;*/
}

div {
    grid-row-end: span 2;
    grid-column-end: span 2;
    color: #fff;
    font-variant: small-caps;
}

p{
  font-variant: normal;
  font-size: .8em;
  line-height: 1.6em;
}

.one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column-start: 7;
  grid-column-end: span 4;
  grid-row-start: 1;
  grid-row-end: span 6;
  background-color: pink;
  position: relative;
}
.two {
  grid-column-start: 1;
  grid-column-end: span 4;
  grid-row-start: 1;
  grid-row-end: span 2;
  background-color: #35bc7a;
}
.three {
  background-color: #ff9e00;
}
.four, .eight {
  background-color: #1e8bc4;
}
.five {
  background-color: #f15a49
}
.six {
  background-color: #35bc7a;
}
.seven, .nine {
  background-color: #f86925;
}

.one button {
  background-color: #43472a;
  border-style: solid;
  color: #b1b19a;
  border-color: #b1b19a;
  width: 4em;
  height: 4em;
  border-radius: 2em;
  padding: 0;
  margin: .5em;
  outline: none;
}
.one button:hover {
  background-color: #b1b19a;
  color: #43472a;
}

ul {
  position: absolute;
  right: .7em;
  top: .7em;
  list-style: none;
}

li {
  display: inline-block;
  padding: .1em;
}

li .circle.current {
  background-color: #fdfdfb;
}

li .circle {
  background-color: #7d7576;
  height: .625em;
  width: .625em;
  border-radius: .3125em;
}

@media (max-width: 1024px){
  .wrapper {
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    /*grid-template-rows: repeat(6, 16.66666%);*/
  }
  .six, .seven, .eight, .nine {
      grid-row-end: span 1;
      grid-column-end: span 1;
    }
  .one {
      grid-column-start: 5;
  }
}
@media (max-width: 768px){
  .wrapper {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(7, 14.2857%);
  }
  div {
    grid-row-end: span 1;
    grid-column-end: span 1;
  }
  .one {
    grid-column-start: 1;
    grid-column-end: span 4;
    grid-row-start: 1;
    grid-row-end: span 6;
  }

  .two {
    grid-row-start: 6;
    grid-row-end: span 2;
    grid-column-end: span 4;
    z-index: 2;
  }
}
